language: objective-c
xcode_project: appetize_test/appetize_test.xcodeproj
xcode_scheme: appetize_test
xcode_destination: platform=iOS Simulator,OS=13.2,name=iPhone 11
osx_image: xcode11.3

#python step
python:
  - "3.5"

#fastlane stuff
install:
  - bundle install
script:
  - fastlane custom_lane
  - bundle exec danger